{:title             "🏒 Flowboy Webpage 🏒"
 :title-tag-landing "Flowboy Webpage"
 :title-tag-gallery "Flowboy Gallery"
 :title-tag-404     "Flowboy - 404 Page not found"
 :team              "Learn to Skate"
 :name              "Seva Antonov"
 :bday              "2022-03-04"
 :base              "/flowboy-portfolio"
 :brother-link      "https://creamy-seas.github.io/bigv-portfolio/"
 :goat-counter-url  "https://flowboy-portfolio.goatcounter.com/count"}
